<h3>Index</h3>

<ul>
  <li>
    <a href="{{ site.baseurl }}/Basic-Navigation">
      Basic Navigation
    </a>
    <a href="{{ site.baseurl }}/Basic-Navigation#cd">cd</a>
    <a href="{{ site.baseurl }}/Basic-Navigation#pwd">pwd</a>
    <a href="{{ site.baseurl }}/Basic-Navigation#ls">ls</a>
  </li>

  <li>
    <a href="{{ site.baseurl }}/Manipulating-Files-and-Folders">
      Manipulating Files and Folders 
    </a>
    <a href="{{ site.baseurl }}/Manipulating-Files-and-Folders#cp">cp</a>
    <a href="{{ site.baseurl }}/Manipulating-Files-and-Folders#ditto">ditto</a>
  </li>
</ul>
